@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #e5e5e5;
}

.container {
  width: 90%;
  margin: auto;
  margin-top: 2rem;
}

.flex_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 10rem;
  padding: 2rem 1.2rem;
  font-size: 2rem;
  height: 6.8rem;
  width: 19.2rem;
  font-weight: 500;
  background: linear-gradient(88.33deg, #fba24f -7.64%, #ff1e1e 145.94%);
  box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
}

.image {
  width: 60.2rem;
}

/* navigation styling */

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  font-size: 2rem;
}

nav ul li {
  padding: 1rem 1.5rem;
  margin: 0 0.3rem;
  background-color: #eeeeee;
  border-radius: 0.5rem;
}

nav ul li.active {
  color: white;
  background: linear-gradient(0deg, #ff8063 -28.33%, #f46060 95.83%);
}

/* main section styling */

main.container .text {
  margin-left: 4rem;
}

main.container .text h1 {
  font-size: 6rem;
}

main.container .text p {
  font-size: 2rem;
  margin: 3.2rem 0;
  font-weight: 500;
}

/* me section styling */

.me {
  background: url("./images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.me .flex_container img {
  width: 33.8rem;
  margin: 6.4rem 20rem 0 20rem;
}

.me .flex_container .text h2 {
  font-size: 4rem;
  color: #707070;
  margin: 4rem 0;
}

.me .flex_container .text p {
  font-size: 1.8rem;
  color: #18191f;
}

.me_button {
  margin-top: 10rem;
}

/* recipies section styling */


.recipie{
    margin-top: 8rem;
}

.recipie .heading h2{
    font-size: 3.6rem;
    text-align: center;
    color: #676767;
}

.recipie .heading p{
    text-align: center;
    font-size: 1.8rem;
    width: 60rem;
    margin: auto;
}

.card {
  width: 30%;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 3rem;
  margin-top: 2rem;
}

.card .card_img {
  max-width: 94%;
  display: block;
  border-radius: 2rem;
  margin: 1rem;
}

.card_text{
    margin: 2rem;
}

.card .card_title{
    font-size: 2.8rem;
    margin: 1rem 0;
    color: #18191f;
}

.card .card_discription{
    font-size: 1.8rem;
    margin: 1rem 0;
    color: #18191f;
}

/* footer section style */

footer{
    text-align: center;
    margin-top: 8rem;
    background: #0B0D17;
    color: white;
    padding: 2rem 0;
}

footer h2{
    margin: 1rem 0;
    color: #5B5B5B;
    font-size: 3rem;
}


/* blog section styling */

.blogs h3{
    font-size: 4rem;
    text-align: center;
    color: #18191f;
    margin: 5rem 0;
}

.blog_card{
    width: 45%;
    position: relative;
    margin: 1rem;
}

.blog_card .blog_image{
    width: 100%;
    height: 350px;
    object-fit: cover;
    
    border-radius: 1rem;
}

.blog_card .blog_card_info{
    color: white;
    background-color: rgba(0, 0, 0, 0.349);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: scale(0);
    transition: all 0.25s ease;
}

.blog_card .blog_card_info h2{
    font-size: 3rem;
}

.blog_card .blog_card_info p{
    font-size: 1.8rem;
    margin: 3rem 8rem;
}

.blog_card:hover .blog_card_info{
    transform: scale(1);
}